// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

// @import 'themes/light';
// @import 'themes/dark';

// @import 'components/button';
// @import 'components/card';



.button {
    @apply .bg-button .no-underline .rounded-lg .text-sm .py-2 .px-5;

    &.is-outlined {
        @apply .bg-card .border .border-accent .text-accent;
    }

    .theme-light & {
        box-shadow: 0 2px 7px 0 #b0eaff;
    }

    .theme-dark & {
        box-shadow: 0 2px 7px 0 #00658b;
    }
}

.card {
    @apply .bg-card .p-5 .rounded-lg .shadow;
}

.theme-light {
    --page-background-color: #f5f6f9;
    --card-background-color: white;
    --button-background-color: #47cdff;
    --header-background-color: white;

    --text-default-color: #222;
    --text-accent-color: #47cdff;
    --text-accent-light-color: #8ae2fe;
    --text-muted-color: rgba(0, 0, 0, 0.3);
    --text-muted-light-color: rgba(255, 255, 255, 0.1);
    --text-muted-light-color: #e1e6e8;
    --text-error-color: red;
}

.theme-dark {
    --page-background-color: #17181e;
    --card-background-color: #1f2027;
    --button-background-color: #59b6f9;
    --header-background-color: #1f2027;

    --text-default-color: #fff;
    --text-muted-color: rgba(255, 255, 255, 0.5);
    --text-muted-light-color: rgba(255, 255, 255, 0.3);
    --text-accent-color: #47cdff;
    --text-accent-light-color: #8ae2fe;
    --text-error-color: red;
}

.dropdown-menu-link {
    @apply .block .text-default .no-underline .text-sm .leading-loose .px-4;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

.dropdown-toggle {
    >button:focus {
        outline: 0;
    }
}

body,
button {
    @apply .text-default;
}

.section {
    @apply .px-8;
}
